<!--BEGIN TEACHER CREATE QUIZ BUTTONS DIV-->  
<div class="new-question">
    <p>Enter Question:</p>
    <input type="text" id="new-question" class="form-control" required>
        
    <p>Option A:<input type="text" id="answer1" class="form-control" required></p>
    <p>Option B:<input type="text" id="answer2" class="form-control" required></p>
    <p>Option C:<input type="text" id="answer3" class="form-control" required></p>
    <p>Option D:<input type="text" id="answer4" class="form-control" required></p>

    <div class="form-group">
        <label for="correct-answer">Correct Answer:</label>
            <select multiple class="form-control" required id="correct-answer">
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">D</option>
            </select>
        </div>
    </div> 
    
    <button type="submit" class="btn btn-light" value="">Submit</button>
</div>
<!--END TEACHER CREATE QUIZ BUTTONS DIV-->