<!--BEGIN STUDENT NAVBAR--> 
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="navbar-brand" href="#">Quizzie-Moto</ul>
    
        <div class="nav navbar-nav navbar-right">
            <form class="form-inline">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <button type="button" class="btn btn-light btn-md">SUBMIT</button>
            </form>
        </div>
    </div>
</nav>
<!--END STUDENT NAVBAR--> 

<div class="container">
<!--BEGIN STUDENT INPUT KEY DIV-->  
    <form class="col-sm-5">
        <div class="form-group">
            <input type="text" class="form-control" id="inputkey" placeholder="Enter quiz key on the instructor's screen">
        </div>
        <button type="button" class="btn btn-primary" value="">Join Quiz!</button>
    </form>
<!--END STUDENT INPUT KEY DIV-->

<!--BEGIN STUDENT WAITING SCREEN DIV-->  
    <div class="waiting"></div>
<!--END STUDENT WAITING SCREEN DIV-->

<!--BEGIN STUDENT QUIZ BUTTONS DIV-->  
    <div class="quiz-buttons"></div>
<!--END STUDENT QUIZ BUTTONS DIV-->

<!--BEGIN STUDENT RESULTS DIV-->  
    <div class="student-results"></div>
<!--END STUDENT RESULTS DIV -->
</div>
