<div class="student-container">
<!--BEGIN STUDENT INPUT KEY DIV-->  
    <div class="input-key">
        <form>
            <div class="form-group">
                <label for="inputkey">Enter the Quiz Key:</label>
                <input type="text" class="form-control" id="inputkey" placeholder="Quiz Key">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" value="">Submit</button>
        </form>
    </div>
<!--END STUDENT INPUT KEY DIV-->

<!--BEGIN STUDENT LOGIN DIV-->  
    <div class="login" id="student">
        <input type="text" id="name" class="form-control" required>
    </div>
<!--END STUDENT LOGIN DIV-->


<!--BEGIN STUDENT WAITING SCREEN DIV-->  
    <div class="waiting">
    
    </div>
<!--END STUDENT WAITING SCREEN DIV-->

<!--BEGIN STUDENT QUIZ BUTTONS DIV-->  
    <div class="quiz-buttons">
        <div class="button" value="1">A</div>
        <div class="button" value="2">B</div>
        <div class="button" value="3">C</div>
        <div class="button" value="4">D</div>
    </div>
<!--END STUDENT QUIZ BUTTONS DIV-->

<!--BEGIN TIMER DIV -->  
    <div class="timer">
        <p class="countdown lead"></p>
        timer div
    </div>
<!--END TIMER DIV -->  


<!--BEGIN STUDENT RESULTS DIV-->  
    <div class="student-results">
        >>canvas js results go here
    </div>
<!--END STUDENT RESULTS DIV -->

</div>