<!--BEGIN STUDENT NAVBAR-->
<div id="nav-container">
    <!-- mobile nav -->
    <div id="nav">
        <a id="link-hero" href="#hero" class="link"></a>
        <a id="link-one" href="#one" class="link"></a>
        <a id="link-two" href="#two" class="link"></a>
        <a id="link-three" href="#three" class="link"></a>
        <a id="link-four" href="#four" class="link"></a>
    </div>

    <!-- desktop nav -->
    <ul id="menu">
        <li data-menuanchor="firstPage">
            <a id="menu-hero" href="#firstPage"></a>
        </li>
        <li data-menuanchor="secondPage">
            <a id="menu-one" href="#secondPage"></a>
        </li>
        <li data-menuanchor="thirdPage">
            <a id="menu-two" href="#thirdPage"></a>
        </li>
        <li data-menuanchor="fourthPage">
            <a id="menu-three" href="#fourthPage"></a>
        </li>
        <li data-menuanchor="lastPage">
            <a id="menu-four" href="#lastPage"></a>
        </li>
    </ul>

</div>
<!--END STUDENT NAVBAR-->

<div id="fullpage">
    <!--BEGIN MAIN/FIRST DISPLAY PAGE-->
    <div id="hero" class="section">
        <h1>Quizzie-Moto</h1>
        <h2>A quiz app (and insert some more product fluff...)</h2>
        <div class="arrow-box">
            <div class="arrow"></div>
        </div>
    </div>
    <!--END MAIN/FIRST DISPLAY PAGE-->

    <!--BEGIN STUDENT INPUT KEY DIV-->
    <!--<div class="container">-->
    <div id="one" class="section">
        <h2>Input Quiz Key</h2>
        <form class="col-md-4 col-sm-4">
            <div class="form-group">
                <p><input type="number" class="form-control" id="inputkey" placeholder="Enter quiz key on the instructor's screen"></p>
            </div>
            <button type="button" id="sessionEntry" class="btn btn-outline-light btn-block">Join Quiz!</button>
        </form>

        <div class="container-fluid">
            <form class="col-md-4 col-sm-4">
                <input type="text" class="form-control" id="studentUsername" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <button type="button" id="studentloginbtn" class="btn btn-outline-light">Submit</button>
            </form>
        </div>

        <div class="arrow-box">
            <div class="arrow"></div>
        </div>
    </div>
    <!--END STUDENT INPUT KEY DIV-->

    <!--BEGIN STUDENT WAITING SCREEN DIV-->
    <div id="two" class="section">
        <div class="waiting">
            <h2>Waiting for others to join....</h2>
        </div>
        <div class="arrow-box">
            <div class="arrow"></div>
        </div>
    </div>
    <!--END STUDENT WAITING SCREEN DIV-->

    <!--BEGIN STUDENT QUIZ BUTTONS DIV-->
    <div id="three" class="section">
        <div class="three-text-wrapper my-auto">
            <div class="quiz-buttons"></div>
        </div>
        <div class="arrow-box">
            <div class="arrow"></div>
        </div>
    </div>
    <!--END STUDENT QUIZ BUTTONS DIV-->

    <!--BEGIN STUDENT RESULTS DIV-->
    <div id="four" class="section">
        <div class="four-text-wrapper">
            <div class="student-results"></div>
            <h2>Results</h2>
            <p class = "student-name"></p>
            <table class="table table-hover">
        <thead>
            <tr>
                <th style="width : 10%" scope="col">#</th>
                <th style="width : 30%" scope="col">Correct</th>
                <th style="width : 30%" scope="col">Your</th>
                <th style="width: 30%">Time</th>
            </tr>
        </thead>
        <tbody id="resultTable">
            {{!-- here goes all questions --}}
        </tbody>
    </table>
        <p class = "finalResults"></p>
        </div>
    </div>

    <!--END STUDENT RESULTS DIV -->
