<!--BEGIN TEACHER REGISTRATION DIV-->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand" href="#">Quizzie-Moto</div>

        <div class="nav navbar-nav navbar-right">
            <form class="form-inline">
                <!-- Trigger teacher registration modal -->
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#teacherRegister" data-whatever="register">Sign Up</button>

                <!-- Trigger login modal -->
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#teacherLogin" data-whatever="login">Login</button>
            </form>
        </div>

    </div>
    </div>
</nav>
<!-- END TEACHER NAVBAR-->

<!-- BEGIN TEACHER REGISTRATION MODAL-->
<div class="modal fade" id="teacherRegister" tabindex="-1" role="dialog" aria-labelledby="teacherRegisterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teacherRegisterLabel">New Teacher Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="register">
                            <p>First Name:
                                <input type="text" id="first_name" class="form-control" required>
                            </p>
                            <p>Last Name:
                                <input type="text" id="last_name" class="form-control" required>
                            </p>
                            <p>Email Address:
                                <input type="text" id="email" class="form-control" required>
                            </p>
                            <p>Username:
                                <input type="text" id="registerUsername" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required>
                            </p>
                            <p>Password:
                                <input type="password" id="registerPassword" class="form-control" required>
                            </p>
                            <p>Authorization Code:
                                <input type="text" id="authtoken" class="form-control" required>
                            </p>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="teacherSignUpbtn" type="submit" class="btn btn-light">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--END TEACHER REGISTRATION MODAL-->

<!-- BEGIN TEACHER LOGIN MODAL-->
<div class="modal fade" id="teacherLogin" tabindex="-1" role="dialog" aria-labelledby="teacherLoginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teacherLoginLabel">Teacher Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="login">
                            <p>Username:
                                <input type="text" id="loginUsername" class="form-control" aria-label="Username" required>
                            </p>
                            <p>Password:
                                <input type="password" id="loginPassword" class="form-control" required>
                            </p>
                            <p id="errorMessage"></p>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="teacherloginbtn" type="submit" class="btn btn-light">Submit</button>
                            </div>


                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- END TEACHER LOGIN MODAL-->
<!--BEGIN TEACHER MAIN DASHBOARD DIV-->
<div class="dashboard">
    <p>
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1" id="getAllTests">Administer test</button>
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false"
            aria-controls="multiCollapseExample2" id="addNewQuestionCollapse">Create new question</button>
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false"
            aria-controls="multiCollapseExample4" id="makeNewTestCollapse">Make A Test</button>
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false"
            aria-controls="multiCollapseExample3" id = "viewAllResults">View results</button>
    </p>
</div>

<!--BEGIN TEACHER ADMINISTER QUIZ TOGGLE-->
<div class="collapse multi-collapse" id="multiCollapseExample1">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width : 10%" scope="col">#</th>
                <th style="width : 60%" scope="col">Test</th>
                <th style="width : 20%" scope="col">Created At</th>
                <th style="width: 10%">View</th>
            </tr>
        </thead>
        <tbody id="testTable">
            {{!-- here goes all questiona --}}
        </tbody>
    </table>
</div>

<!--END TEACHER ADMINISTER QUIZ TOGGLE-->

<!--BEGIN TEACHER CREATE QUIZ BUTTONS DIV-->
<div class="collapse multi-collapse" id="multiCollapseExample2">
    <div class="card card-body">
        <h2>Add A New Question</h2>
        <div class="add_question">
            <div class="border rounded">
                <p>Topic
                    <select class="form-control existingTopicNewQuestion" required id="all-topics"></select>
                </p>
                <p>Add A New Topic:
                    <input type="text" id="new-topic" class="form-control" required>
                </p>
            </div>
            <p>Add A Question:
                <input type="text" id="new-question" class="form-control" required>
            </p>
            <p>Option A:
                <input type="text" id="answer1" class="form-control" required>
            </p>
            <p>Option B:
                <input type="text" id="answer2" class="form-control" required>
            </p>
            <p>Option C:
                <input type="text" id="answer3" class="form-control" required>
            </p>
            <p>Option D:
                <input type="text" id="answer4" class="form-control" required>
            </p>

            <div class="form-group">
                <label for="correct-answer">Correct Answer:</label>
                <select class="form-control" required id="correct-answer">
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                </select>
                <!-- USER ALERT: QUESTION CREATED --> 
            <p id="alertNewQuestion"></p>

            </div>
            <button id="addNewQuestionbtn" type="submit" class="btn btn-light" value="">Submit</button>
        </div>
        

    </div>
</div>

<!--END TEACHER CREATES QUIZ TOGGLE-->

<!--BEGIN TEACHER DASHBOARD TOGGLE-->
<div class="collapse multi-collapse" id="multiCollapseExample3">
    <div class="card card-body">
        <h2>Results</h2>
            <table class="table table-hover">
        <thead>
            <tr>
                <th style="width : 10%" scope="col">#</th>
                <th style="width : 15%" scope="col">Session</th>
                <th style="width : 30%" scope="col">Student</th>
                <th style="width : 20%" scope="col">Results</th>
                <th style="width : 20%" scope="col">Date</th>
            </tr>
        </thead>
        <tbody id="resultTable">
            {{!-- here goes all results --}}
        </tbody>
    </table>
    </div>
</div>
<!--END TEACHER DASHBOARD TOGGLE-->

<!--BEGIN TEACHER MAKE A TEST-->
<div class="collapse multi-collapse" id="multiCollapseExample4">
    <div class="card card-body">
        <h2>Create New Test</h2>
        <p>Topic
            <select class="form-control newQuizTopic" required id="all-topics-test"></select>
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width : 10%" scope="col">#</th>
                    <th style="width : 90%" scope="col">Question</th>
                </tr>
            </thead>
            <tbody id="questionTable">
                {{!-- here goes all questiona --}}

            </tbody>
        </table>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="testDescription" placeholder="Add Description" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="composeTestBTN btn btn-secondary" type="button">Compose test</button>
            </div>
        </div>

    </div>
</div>
<!--END TEACHER DASHBOARD TOGGLE-->

<!--BEGIN TEACHER START QUIZ DIV-->
<div submit="start-button">
    <button class="btn btn-light" id="sessionID">Generate Session</button>
    <p id="sessionNumber"></p>

</div>
<!--END TEACHER START QUIZ DIV-->

<!--BEGIN RUN QUIZ-->
<div class="container-game">
    <div class="row">
        <div class="col-10">

            <button class="btn btn-light" id="startNewSession">Start Session</button>
            <div class="question">
                Questions
            </div>

            <!--<div class="answers">Answers</div>-->
            <div class="answer" id="a1"></div>
            <div class="answer" id="a2"></div>
            <div class="answer" id="a3"></div>
            <div class="answer" id="a4"></div>

<!--testing -->
            <div class = "containerFluid">
                <div class = "progress">
                    <div class ="seconds"></div>

                </div>
            </div>
<!-- DONE TESTING --> 

            <div class="results"></div>

        </div>
    </div>
</div>
<!--END RUN QUIZ-->


</div>