<!--BEGIN STUDENT QUIZ BUTTONS DIV-->  
    <div class="quiz-buttons">
        <div class="button" value="1">A</div>
        <div class="button" value="2">B</div>
        <div class="button" value="3">C</div>
        <div class="button" value="4">D</div>
    </div>
<!--END STUDENT QUIZ BUTTONS DIV-->

<!--BEGIN TIMER DIV -->  
    <div class="timer">
        <p class="countdown lead"></p>
        timer div
    </div>
<!--END TIMER DIV -->  
