.teacher-body{
    font-family: 'Oswald', sans-serif, 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #2B7A78;
    color: #DEF2F1;
}

textarea.form-control {
    background: transparent;
    color: #DEF2F1;
}

.color {
    color : #f00;
    background: #F7B733;
}
.containerFluid {
    width: 100%; 
    height: 25px; 
    overflow: hidden; 
}
.progress{
    width: 100%;
    transition: linear;
    overflow: hidden;
    height: 25px; 
    border-radius: 12px;
}

.seconds {
    background: linear-gradient(0.25turn,
     #3f87a6, #ebf8e1, #f69d3c);
    width: 100vw; 
    height: 25px;
    font-size: 16pt; 
    color: #228B22;
    /* text-shadow: 1px 1px 1px #ccc; */
    /*progress bar ends here */
}

.sidebar {
    position: fixed;
    background-color: #17252A;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    overflow-y: auto; 
    border-right: 1px solid 
}

.container-game {
    background-color: red;
}

.multi-collapse{
    height: 900px;
    padding-top: 20px;
}
h1 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

/*side nav bar */
.nav-link{
    background-color: transparent;
    color: #eee;  
    font-family: 'Oswald', sans-serif, 'Raleway', sans-serif;
    margin-top: 5px;
}
.nav-item{
    background-color: transparent;
    color: #eee;  
    border: 1px;
    padding: 5px;
}
#navName{
    font-size: 24px;
    text-align: left;
    padding-bottom: 20px;
    color: #eee;  
}


.modal-content{
    background-color :#F78733; 
    border: 5px;
    padding: 1px;
    margin: 1px;
    
}
.loginBtn{
    padding: 50px, 30px,10px, 30px;
    margin: 10px;
    font-size: 24px;
}
#sessionNumber{
    margin-top: 20px;
    padding: 10px;
    font-size: 24px;
}

.nav-link.active, .nav-pills .show>.nav-link {
    background: #F7B733;
    color: #17252A;
}