.color {
    color : #f00;
    background: #FF0;
}

.containerFluid {
 width: 100vw; 
 height: 25px; 
 overflow: hidden; 

}
.progress{
    width: 100%;
    transition: 1s;
    overflow: hidden;
    height: 25px; 
    border-radius: 12px;
}

.seconds {
    background: linear-gradient(0.25turn,
     #3f87a6, #ebf8e1, #f69d3c);
    width: 100vw; 
    height: 25px;
    font-size: 16pt; 
    color: #228B22;
    /* text-shadow: 1px 1px 1px #ccc; */
    /*progress bar ends here */
    }
#top-nav {
    position: fixed;
    height: 50px;
    color: green;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

.navbar-toggler-icon{
    background-color: green;
}

.container-game{
    height: 800px;
    padding-left: 20%;
    background-color: gray;
}
.results{
    height: 800px;
    background-color: green;
}
.multi-collapse{
    height: 1000px;
    padding-top: 80px;
}
h1 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
  }
