body {
    width: 99vw;
    overflow: scroll;
}
.teacher-body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #2B7A78;
    color: #aaabb8;
}
.color {
    color : #f00;
    background: #FF0;
}
.containerFluid {
 width: 100%; 
 height: 25px; 
 overflow: hidden; 
}
.progress{
    width: 100%;
    transition: 1s linear;
    overflow: hidden;
    height: 25px; 
    border-radius: 12px;
}

.seconds {
    background: linear-gradient(0.25turn,
     #3f87a6, #ebf8e1, #f69d3c);
    width: 100vw; 
    height: 25px;
    font-size: 16pt; 
    color: #228B22;
    /* text-shadow: 1px 1px 1px #ccc; */
    /*progress bar ends here */
    }
#top-nav {
    position: fixed;
    height: 50px;
}
.sidebar {
    position: fixed;
    background-color: #17252A;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid 
  }

.container-game{
    height: 800px;
}
.results{
    height: 800px;
}
.multi-collapse{
    height: 1000px;
    padding-top: 80px;
}
h1 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
  }

.nav-link{
    background-color: transparent;
    color: #eee;  
}
.nav-item{
    background-color: transparent;
    color: white;
    border: 1px;
}
.navbar{
    background-color:#17252A;
}