<!--BEGIN TEACHER MAIN DASHBOARD DIV-->  
<div class="dashboard">
    <div class="test">
        <button type="button" class="btn btn-light">Administer Test</button>
    </div>
    
    <div class="add-q">
        <button type="button" class="btn btn-light">Add New Question</button>
    </div>

    <div class="results">
        <button type="button" class="btn btn-light">View Results</button>
    </div>
</div>
<!--END TEACHER MAIN DASHBOARD DIV-->  


<!--BEGIN TEACHER START QUIZ DIV-->  
    <div submit="start-button">
        <button type="button" class="btn btn-light" value="">Start Quiz</button>
    </div> 
<!--END TEACHER START QUIZ DIV-->
